---
import Nav from './Nav.astro';
---
<Nav/>
<header>
        <h1>Discover a new world for your business</h1>
</header>


<style>
    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;

    }
    header h1{
        animation: hide linear both;
        animation-timeline: scroll(root);
        animation-range: 0 500px;
    }
    @keyframes hide {
        from {
            opacity: 1;
            
        }
        to {
            /* color: var(--bg-color); */
            opacity: 0;
        }
    }
</style>