---
import Service from "./Service.astro";
---

<section class="services container">
    <h2>Services</h2>
    <div class="services__wrap">
        <Service
            title="E-commerce design"
            description="A new look balancing aesthethic and utility to facilate subscriptions or purchases"
            format="png"
        />
        <Service 
            title="Web Design Service" 
            description="" 
            format="png" 
        />
        <Service 
            title="Branding" 
            description="" 
            format="png" 
        />
        <Service 
            title="Marketing Strategy" 
            description="" 
            format="png" 
        />
        <Service
            title="3D Interactive Experience"
            description=""
            format="png"
        />
        <Service
            title="AI Chatbots for your business"
            description=""
            format="png"
        />
        <Service 
            title="Mobile App Development" 
            description="" 
            format="png" 
        />
        <Service
            title="We take care of your online reputation"
            description=""
            format="png"
        />
    </div>
</section>

<style>
    .services {
        background-color: var(--main-color);
        & h2 {
            font-weight: 700;
            font-size: calc(min(max(3.25rem, 11.4vw), 10.25rem));
            letter-spacing: -2px;
            color: var(--bg-color);
            animation: reveal linear both;
            animation-timeline: view();
            animation-range: entry 20% cover 40%;
        }
        padding: 3rem;
    }

    .services__wrap {
        display: grid;
        @media (min-width: 768px) {
            grid-template-columns: repeat(8, 1fr);
        }
        grid-auto-rows: minmax(70px, auto);
        gap: 24px;
        overflow: visible;
    }

    @keyframes reveal {
        from {
            opacity: 0;
            scale: 1.2;
        }
        to {
            opacity: 1;
        }
    }
</style>
