/* Variables */
:root {
    --bg-color: #080014;
    --main-color: #c9c3d1;
    --main-font: 'Onest Variable', sans-serif;
}

/* Global */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    font-size: 1.6rem;
    line-height: 1.8;
}

p {
    color: var(--main-color);
    font-size: 2rem;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: var(--main-font);
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: var(--main-color);
    padding-top: 1rem;
}

h1 {
    font-size: calc(min(max(6.25rem, 17.5vw), 15.75rem));
    font-weight: 700;
    text-transform: uppercase;
    line-height: .8;
    letter-spacing: -.6rem;
    padding: 0;

    &::selection {
        background-color: #8432ef;
    }
}

h2 {
    font-size: calc(min(max(2.75rem, 7vw), 6.25rem));
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* Header */
header {
    background: var(--bg-color);
    height: 100vh;
}


