---
import Layout from "../layouts/Layout.astro";
import Nav from '../components/landing/Nav.astro';
---

<Layout>
	<header>	
		<Nav/>
		<h1>Discover a new world for your business</h1>
	</header>
	<main>
		<section class="services">
			<h2>Services</h2>
		</section>
	</main>
</Layout>
