---
import Layout from "../layouts/Layout.astro";
import Header from '../components/landing/Header.astro';
import Services from '../components/landing/Services.astro';
import About from '../components/landing/AboutUs.astro';
---

<Layout>
	<Header />
	<main>
		<Services />
		<About />
	</main>
</Layout>
