---
import Layout from "../layouts/Layout.astro";
import Header from '../components/landing/Header.astro';
import Services from '../components/landing/Services.astro';
---

<Layout>
	<Header/>
	<main>
		<Services/>
	</main>
</Layout>
