---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header>
		<nav class="header__nav">
			<div class="header__nav-logo">
				<img src="/logo.svg" alt="Logo Andes Peak Marketing" />
			</div>
			<a href="#">Services</a>
			<a href="#">About Us</a>
			<a href="#">Contact Us</a>
		</nav>
		<h1>Andes Peak Marketing</h1>
	</header>
</Layout>
